.anychart-credits-text{
    display: none;
}

.resizable-widget{
    min-width:654px !important;
    font-size: 1em !important;
}
.btn-block{
    display: block;
    width: 100%;
    position: relative;
    top: 4px;
}
.table_item_num{width:20%;float:left;}
