<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header text-center text-blue logo-background-color">
      <img src="{{data.logo}}" alt="">
    </div>
    <div class="card-header text-center text-blue p-0">
    <h5 class="p-3 mb-0" style="color: #86bbb8;font-size: 18px;font-weight: lighter;">{{data.exchange|uppercase}} OTP VERIFICATION</h5></div>
    <div class="card-body p-3">
      <form name="otp_form" data-ng-controller="formCtrl" id="otp_form"  novalidate>

        <div class="form-group">
          <label for="loginInputPassword">Enter OTP</label>
          <input class="form-control" id="loginInputOTP" type="password" [(ngModel)]="otp" name="otp" placeholder="OTP" (keyup)="onKeyupSendOtp()" required>
        </div>
        <a href="javascript:void(0)" (click)="resendOtp()" class="float-left">Resend OTP</a>
        <br>
        <p>*One-time password sent to your email occasionally takes longer to receive depending on email server rules.</p>
       <!-- <button type="submit" class="btn btn-primary btn-block">Submit</button>-->
      </form>

    </div>

  </div>
