.modal-content{
    background: red !important;
}
.btn-danger{
    color: #fff !important;
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}
.logo-deaitls{
    color: #fff !important;
    font-size: 22px;
    padding: 0px 0;
}
.logo-deaitls .fa-btc{
    margin: 0 0 0 5px;
    color: #fff;
}
.logo-deaitls img {
    width: 18%;
    max-width: 100%;
  }
.logo-deaitls img {

    width: 140px;
}
.cstm-link {
    padding: 0.5rem 1rem;
}
.cstm-tab{
    color: #96a0ab;
}
.header-background{
    background-color: #000000;
}