<div class="container">
  <div class="card card-login mx-auto mt-3">
      <div class="card-header text-center logo-background-color text-blue bitrump-logo">
        <img src="{{data.logo}}" alt="">
        <!-- <span><i class="fa fa-registered"></i></span>eilp -->
        <!-- <img src="./assets/img/e-transparent.png" alt="">rica -->
      </div>
        <div class="card-header text-center text-blue p-0">
          <h5 class="p-3 mb-0" style="color: #86bbb8;font-size: 18px;font-weight: lighter;">{{data.exchange|uppercase}} LOGIN</h5>
        </div>

      <div class="card-body p-3">
           <!-- new -->
           <ngb-tabset justify="fill" activeId="tab2">
              <!-- <ngb-tab id="tab1" >
                <ng-template ngbTabTitle>
                  <h5>BASIC</h5>
                </ng-template>
                <ng-template ngbTabContent>
                </ng-template>
              </ngb-tab> -->
              <ngb-tab id="tab2">
                  <ng-template ngbTabTitle>
                      <h5>REILP PRO</h5>
                    </ng-template>
                  <ng-template ngbTabContent>
                      <form name="login_form">
                          <span class="text-center" style="color: #f94e26;">{{logoutReason}}</span>
                          <div class="form-group">
                            <label for="loginInputEmail">Email address</label>
                            <input class="form-control" name="email" id="email" type="email" [(ngModel)]="email" placeholder="Email" autofocus>
                            <!-- <span [hidden]="email.valid" style="color: #bf260c;">Please enter valid email</span> -->
                          </div>
                          <div class="form-group">
                            <label for="loginInputPassword">Password</label>
                            <input id="password-field" class="form-control" name="password" type="password" [(ngModel)]="password" autocomplete placeholder="Password">
                            <span toggle="#password-field" (click)="showHide()" class="fa fa-fw fa-eye-slash field-icon showHide-password"></span>
                          </div>
                          <div class="form-group otp_segment" *ngIf="otpBlock">
                            <label for="loginInputOTP">OTP</label>
                            <input class="form-control" id="loginInputOTP" name="otp" type="number" [(ngModel)]="otp" placeholder="OTP" autofocus autocomplete="off" >
                            <small>* An OTP is sent to your Google Authenticator</small>
                           <!-- <a href="javascript:void(0)" class="float-right" data-ng-click="resendOtp()">Resend OTP</a>-->
                          </div>
                          <button type="submit" class="btn btn-block login_btn" (click)="loginData(true)" *ngIf="!otpBlock" >
                            Login
                          </button>
                          <button type="submit" class="btn btn-block login_btn" (click)="loginThroughOtp()" *ngIf="otpBlock">Submit</button>
                        </form>
                  </ng-template>
                </ngb-tab>
            </ngb-tabset>
            <!-- new -->
            <br>
            <p *ngIf="loader" class="text-center">
              <!-- <ngb-progressbar type="info" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar> -->
              <img src="./assets/svg-loaders/three-dots.svg" alt="" width="50">
            </p>
            <p [hidden]="!error" class="text-danger my-3">Email address or Password Invalid</p>
      <div class="d-flex mt-2">
        <div class="p-1 mr-auto"><a routerLink="/signup">Create an Account for {{data.exchange}}</a></div>
        <div class="p-1"><a routerLink="/secure-token">Forgot Password?</a></div>
      </div>
    </div>
  </div>
</div>
