.form-control:active{
    border: 1px solid cornflowerblue;
}

.resizable-widget{
    height: 325px !important;
    border:1px solid #a5a5a5;
}
.text-white{
    color: #96979a !important;
}
.btc-balance{
    margin-bottom: 3px;
}
.stoploss-booktable.main{display: none;}
.crypto-balance.main{display: none !important;}
